#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.mt-n14  {
  margin-top: -14rem !important;
  position: relative;
}

.mb-15 {
  margin-bottom: 15rem;
}

.content{
  max-width: 100%;
  min-width: 0;
  background-color: #000000;
}